.container {
  border: 1px solid #ccc;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 20px;
  margin-top: 50px;
  background: yellowgreen;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
input {
  margin: 3px;
  width: 300px;
  margin-top: 10px;
}

.submit {
  text-align: center;
  margin: 50px;
  background: fixed;
}

h1 {
  text-align: center;
}

body {
  background: yellow;
}
#submit {
  color: blue;
  width: 100px;
}

#fafa1 {
  display: none;
}
